[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0.6"
django-rest-framework = "*"
django-rest-knox = "*"
requests = "*"
bs4 = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
