{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col-4">
            <h4>{{code}}</h4>
        </div>
    </div><br>

    <h5>학습진도 현황</h5>
    {% if courses %}
        {% for course in courses %}
        <div class="card">
          <div class="card-header">
            {{course.name}}
          </div>
            <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>{{course.close}} 까지</p>
              <footer class="blockquote-footer"><cite title="Source Title">{{course.ratio}}</cite></footer>
            </blockquote>
          </div>
        </div>
        <br>
        {% endfor %}
    {% else %}
        <h3>강의가 없습니다.</h3>
    {% endif %}

    <br>
    <h5>과제 현황</h5>
    {% if assigns %}
        {% for assign in assigns %}
        <div class="card">
          <div class="card-header">
            {{assign.name}}
          </div>
            <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>{{assign.close}} 까지</p>
              <footer class="blockquote-footer"><cite title="Source Title">{{assign.submit}}</cite></footer>
            </blockquote>
          </div>
        </div>
        <br>
        {% endfor %}
    {% else %}
        <h3>과제가 없습니다.</h3>
    {% endif %}

</div>
{% endblock %}