{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col-4">
            <h4>강좌 전체보기</h4>
        </div>
    </div><br>

    {% for subject in subjects %}
    <div class="card">
      <div class="card-header">
          <a href="{% url 'ecampus:detail' subject.code  %}">
            {{subject.name}}
          </a>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{subject.prof}} 교수님</p>
          <footer class="blockquote-footer"><cite title="Source Title">{{subject.code}}</cite></footer>
        </blockquote>
      </div>
    </div>
    <br>
    {% endfor %}

</div>
{% endblock %}